<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>¿Como Funciona?</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-12"><h3>La relación con nuestra alimentación es vital para nuestra salud y bienestar, esta refleja nuestras actitudes hacia nosotros mismos, hacia nuestro entorno y hacia nuestras relaciones. <br><b>SOMOS LO QUE COMEMOS!</b></h3></div>

    </div>


    <div class="blog-page box-quehacemos">

      <div class="row">

        <div class="col-md-4"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-12 tex-centro">
            <img src="assets/images/paso01.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-12">
              <h3>Selecciona el Plan</h3>
              <p>Que prefieras, tus platos favoritos y <br>arma el menú a tu gusto.</p></div>
          </div></div></div>

        <div class="col-md-4"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-12 tex-centro">
            <img src="assets/images/paso02.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-12">
              <h3>Realiza el Pago</h3>
              <p>Tomate unos segundos para realizar el pago Online o si prefieres pagar a través de transferencia electrónica puedes comunicarte con nuestro Call Center (417 1880).</p></div>
          </div></div></div>

        <div class="col-md-4"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-12 tex-centro">
            <img src="assets/images/paso03.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-12">
              <h3>Recibe y Disfruta </h3>
              <p>En la oficina tu menú del día, recuerda escoger el horario de entrega que mas se acomode a tus necesidades.</p></div>
          </div></div></div>

      </div>

      <h3><a class="btn btn-primary pad-extra" href="planes.html" >ADQUIRIR TU PLAN DESDE HOY!</a></h3>

      <h3>NOTA: Recuerda que para cancelaciones o modificaciones debes <br>avisarnos con 24 horas de anticipación.</h3>

    </div>

  </section><!-- /.section -->

</div><!-- /.container -->