
<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Contáctenos</span></h3>

    <div class="col-md-12 contact-form" style="margin:30px 0 50px 0;">
      <form class="register-form" role="form">
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Tipo </label>
          <select class="form-control unicase-form-control text-input" id="exampleInputTitle" value="Masculino">
            <option>Consulta sobre mi cuenta</option>
            <option>Cita Valoración</option>
            <option>Queja y Reclamo</option>
            <option>Información</option>
          </select>
        </div>
        <div class="col-md-4 ">

          <label class="info-title" for="exampleInputName">Nombre y Apellido <span>*</span></label>
          <input type="email" class="form-control unicase-form-control text-input" id="exampleInputName">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputEmail1">Email <span>*</span></label>
          <input type="email" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Teléfono <span>*</span></label>
          <input type="email" class="form-control unicase-form-control text-input" id="exampleInputTitle">
        </div>
        <div class="col-md-8">
          <label class="info-title" for="exampleInputTitle">Mensaje</label>
          <textarea id="exampleInputReview" class="form-control txt txt-review" placeholder="" rows="4"></textarea>
        </div>

        <div class="col-md-12 outer-bottom-small m-t-20">
          <button type="submit" class="btn-upper btn btn-primary checkout-page-button pull-right">ENVIAR</button>
        </div>


      </form>
    </div>



  </section><!-- /.section -->

</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->

<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="footer color-bg">

  <div class="links-social"><div class="container"><div class="row">

    <div class="col-md-4">
      <a href="simulador-ahorro.html"><img class="img-responsive" src="assets/images/bh1.png" alt=""></a>
    </div>

    <div class="col-md-4">
      <a href="informe-nutricional.html"><img class="img-responsive" src="assets/images/bh2.png" alt=""></a>
    </div>

    <div class="col-md-4">
      <a href="planes.html"><img class="img-responsive" src="assets/images/bh3.png" alt=""></a>
    </div>

  </div></div></div><!--banner x3-->

  <div class="footer-bottom"><div class="container"><div class="row">

    <div class="col-xs-12 col-sm-12 col-md-9">

      <div class="module-body">
        <ul class='list-unstyled'>
          <li><a href="que-hacemos.html">¿Que Hacemos?</a></li>
          <li><a href="planes.html">Planes</a></li>
          <li><a href="estilo-de-vida.html">Estilo de Vida</a></li>
          <li><a href="promesa-de-servicio.html">Promesa de Servicio</a></li>
          <li><a href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
          <li><a href="contacto.html">Contáctenos</a></li>
        </ul>
      </div></div>

    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="pull-right">
        <a href=""><img src="assets/images/fb.png"></a>
        <a href=""><img src="assets/images/tw.png" style="margin:0 20px"></a>
        <a href=""><img src="assets/images/in.png"></a>
      </div></div>

    <div class="col-xs-12 col-sm-12 col-md-12 borde-tops">

      <div class="col-md-9 copyright">
        Copyright © 2015 - Todos los derechos reservados. | Diseño Web: <a href="http://nuclearagenciadigital.com" target="_black">Nuclearagenciadigital.com</a>
      </div>

      <div class="col-md-3 pull-right"><img src="assets/images/ic-pagos.png" class="pull-right"></div>

    </div>

  </div></div>