
<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Contáctenos</span></h3>

    <div class="col-md-12 contact-form" style="margin:30px 0 50px 0;">
      <form class="register-form"  id="form" method="post">
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Tipo </label>
          <select class="form-control unicase-form-control text-input" id="" value="Masculino" name="tipo">
            <option>Consulta sobre mi cuenta</option>
            <option>Cita Valoración</option>
            <option>Queja y Reclamo</option>
            <option>Información</option>
          </select>
        </div>
        <div class="col-md-4 ">

          <label class="info-title" for="exampleInputName">Nombre y Apellido <span>*</span></label>
          <input name="nombre" type="text" class="form-control unicase-form-control text-input" id="" data-msg-required="Este campo es requerido" data-rule-required="true">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputEmail1">Email <span>*</span></label>
          <input name="email"  type="text" class="form-control unicase-form-control text-input" id="" data-msg-required="Este campo es requerido" data-rule-required="true">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Teléfono <span>*</span></label>
          <input name="telefono"  type="text" class="form-control unicase-form-control text-input" id="" data-msg-required="Este campo es requerido" data-rule-required="true">
        </div>
        <div class="col-md-8">
          <label name="mensaje"  class="info-title" for="exampleInputTitle">Mensaje</label>
          <textarea id="exampleInputReview" class="form-control txt txt-review" placeholder="" rows="4" data-msg-required="Este campo es requerido" data-rule-required="true"></textarea>
        </div>

        <div class="col-md-12 outer-bottom-small m-t-20">
          <button type="submit" class="btn-upper btn btn-primary checkout-page-button pull-right">ENVIAR</button>
        </div>


      </form>
    </div>



  </section><!-- /.section -->

</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->




<% content_for :footer do %>

    <%= javascript_include_tag 'validate' %>


    <script>
        $(function(){
            $('#form').validate({
                rules: {
                    'test[]': {
                        required: true,
                        maxlength: 1
                    }
                }
            });

        })



    </script>
<% end %>
