<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Estilo de Vida</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-12"><h3>Beneficios de estar con La Manzana Naranja</h3></div>

    </div>

    <div class="blog-page box-quehacemos">

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/03.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Visita de tu nutricionista <br>personal</h4>
              <p>Para aquellos clientes que decidan tomar el plan Equilibrio y Estilo de vida, nuestra nutricionista les guiará en todo el proceso; en sus visitas mensuales valorará tu evolución a través de mediciones antropométricas, de acuerdo a tus objetivos y  plan de trabajo.<br>
                Toda la información que nos facilites será tratada de forma absolutamente confidencial, el costo por  esta asesoría es solo de $15.000.</p>
              <p><a href="contacto.html" class="btn btn-primary pull-right" type="button">Pide tu cita de valoración</a></p>
            </div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/04.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Ahorras <br>dinero</h4>
              <p>Comprar los ingredientes para cocinar los platos de cada día, el dinero que inviertes en comer fuera de casa cada mes y el tiempo que necesitas puede llevarte todo un día. </p></div>
            <a class="btn btn-primary pull-right" type="button">VISITE NUESTRO SIMULADOR DE AHORRO</a>
          </div></div></div>



      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/01.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Mejoras tu <br>salud</h4>
              <p>Con nuestros planes podrás comer sano y equilibrado cada día, lo cual te ayudara a mejorar tu salud y bienestar.  También te ayudaremos a organizarte y tomarte tu tiempo para comer en el tiempo justo.</p></div>
          </div></div></div>


        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/06.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>No desperdicias <br>comida</h4>
              <p>Con la Manzana Naranja recibirás la comida necesaria para comer de forma responsable de acuerdo a tus objetivos. No tendrás sobras en tu nevera, las cuales son sinónimo de desperdicio de dinero.</p>
            </div>
          </div></div></div>

      </div>

      <div class="row">




        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/09.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Ahorro en <br>tiempo</h4>
              <p>Nos ocuparemos de todo para que tu tiempo sea mas eficiente.  Cuanto tiempo inviertes cada mes en planificar tus menús semanales, ir al supermercado por los ingredientes, pesar alimentos, contar calorías, recoger la mesa y limpiar la cocina?, nosotros valoramos tu tiempo.
              </p></div>
          </div></div></div>



      </div>


    </div>

  </section><!-- /.section -->

</div><!-- /.container -->