<div class="container">
  <div class="yamm navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="nav-bg-class">
      <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">

        <div class="nav-outer">
          <ul class="nav navbar-nav">

            <li class="active dropdown">
              <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
              <a href="que-hacemos.html">¿Que Hacemos?</a>
            </li>
            <li class="dropdown">
              <a href="planes.html">Planes</a>
            </li>
            <li class="dropdown">
              <a href="estilo-de-vida.html">Estilo de Vida</a>
            </li>



            <li class="dropdown"><a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Servicio al Cliente</a>
              <ul class="dropdown-menu pages">
                <li><div class="yamm-content"><div class="row"><div class='col-xs-12 col-sm-12 col-md-12'><ul class='links'>
                  <li><a href="como-funciona.html">¿Como Funciona?</a></li>
                  <li><a href="promesa-de-servicio.html">Promesa de Servicio</a></li>
                  <li><a href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                  <li><a href="simulador-ahorro.html">Simulador de Ahorro</a></li>
                  <li><a href="informe-nutricional.html">Informe Nutricional</a></li>
                </ul></div></div></div>
                </li></ul>
            </li>

            <li class="dropdown">
              <a href="contacto.html">Contáctenos</a>
            </li>


          </ul><!-- /.navbar-nav -->
          <div class="clearfix"></div>
        </div><!-- /.nav-outer -->
      </div><!-- /.navbar-collapse -->


    </div><!-- /.nav-bg-class -->
  </div><!-- /.navbar-default -->
</div><!-- /.container-class -->

</div><!-- /.header-nav -->
<!-- ============================================== NAVBAR : END ============================================== -->

</header>
<!-- ============================================== HEADER : END ============================================== -->

<div class="body-content" id="top-banner-and-menu">

  <div class="container">

    <section class="section featured-product wow fadeInUp">
      <h3 class="tit-inter"><span>El plan que tienes actualmente esta (ACTIVO)</span></h3>


      <div class="row salto01">

        <div class="col-sm-6 product-comparison">

          <div class="table-responsive table-pas">

            <table class="table table-bordered compare-table inner-top-vs">
              <tr>
                <th width="20%" class="sin-borde01"></th>
                <td width="16%" class="tr-naranja">DESPERTAR</td>
              </tr>

              <tr>
                <th>Descuento</th>
                <td><div class="product-price"><span class="price"> 10% </span></div></td>
              </tr>

              <tr>
                <th>Número de Platos</th>
                <td><p class="text">5<p></td>
              </tr>

              <tr>
                <th>Semanas</th>
                <td><p class="text">1<p></td>
              </tr>

              <tr>
                <th>Precio de Venta por Almuerzo + Bebida</th>
                <td><p class="text">$ 89.500<p></td>
              </tr>

              <tr>
                <th>Total sin Descuento</th>
                <td><p class="text">$ 89.500<p></td>
              </tr>

              <tr>
                <th>Total con Descuento</th>
                <td><p class="text">$ 80.550<p></td>
              </tr>

              <tr class="tr-gris">
                <th>Ahorro</th>
                <td><span class="price">$ 8.950</span></td>
              </tr>

              <tr>
                <th>Costo menú por día</th>
                <td><span class="price">$ 16.110</span></td>
              </tr>

              <tr >
                <th class="sin-borde02"></th>
                <td class='text-center'><a class="lnk btn btn-primary" href="#"><i class="glyphicon glyphicon-shopping-cart"></i> RENOVAR</a></td>
              </tr>
            </table>
          </div>

        </div><!--TABLA-->



      </div>


      <h3><a class="btn btn-primary pad-extra" href="planes.html">Ver otros planes</a></h3>

  </div>




  </section><!-- /.section -->

</div><!-- /.container -->