<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Nuestros Planes</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-12">
        <h3>La Manzana Naranja te ofrece una única experiencia a través de planes que te llevaran de la mano por un camino donde aprenderás a crear tu propio estilo de vida.
          <br>
          Te proponemos 4 planes que te ayudaran a crear mejores hábitos alimenticios:</h3>
      </div>
    </div>

    <div class="row salto01">

      <div class="col-sm-12 product-comparison">

        <div class="table-responsive table-pas">

          <table class="table table-bordered compare-table inner-top-vs">
            <tr>
              <th width="20%" class="sin-borde01"></th>
              <td width="16%" class="tr-naranja">DESPERTAR</td>
              <td width="16%" class="tr-naranja">CONCIENCIA</td>
              <td width="16%" class="tr-naranja">EQUILIBRIO</td>
              <td width="16%" class="tr-naranja">ESTILO DE VIDA</td>
              <td width="16%" class="tr-naranja">TIQUETERA</td>
            </tr>

            <tr>
              <th>Descuento</th>
              <td><div class="product-price"><span class="price"> 10% </span></div></td>
              <td><div class="product-price"><span class="price"> 15% </span></div></td>
              <td><div class="product-price"><span class="price"> 20% </span></div></td>
              <td><div class="product-price"><span class="price"> 30% </span></div></td>
              <td><div class="product-price"><span class="price"> - </span></div></td>
            </tr>

            <tr>
              <th>Número de Platos</th>
              <td><p class="text">5<p></td>
              <td><p class="text">10</p></td>
              <td><p class="text">15</p></td>
              <td><p class="text">20</p></td>
              <td><p class="text">20</p></td>
            </tr>

            <tr>
              <th>Semanas</th>
              <td><p class="text">1<p></td>
              <td><p class="text">2</p></td>
              <td><p class="text">3</p></td>
              <td><p class="text">4</p></td>
              <td><p class="text">-</p></td>
            </tr>

            <tr>
              <th>Precio de Venta por Almuerzo + Bebida</th>
              <td><p class="text">$ 89.500<p></td>
              <td><p class="text">$ 179.000</p></td>
              <td><p class="text">$ 268.500</p></td>
              <td><p class="text">$ 358.000</p></td>
              <td><p class="text">$ 17.900</p></td>
            </tr>

            <tr>
              <th>Total sin Descuento</th>
              <td><p class="text">$ 89.500<p></td>
              <td><p class="text">$ 179.000</p></td>
              <td><p class="text">$ 268.500</p></td>
              <td><p class="text">$ 358.000</p></td>
              <td><p class="text">$ 358.000</p></td>
            </tr>

            <tr>
              <th>Total con Descuento</th>
              <td><p class="text">$ 80.550<p></td>
              <td><p class="text">$ 152.150</p></td>
              <td><p class="text">$ 214.800</p></td>
              <td><p class="text">$ 250.600</p></td>
              <td><p class="text">$ 358.000</p></td>
            </tr>

            <tr  class="tr-gris">
              <th>Ahorro</th>
              <td><span class="price">$ 8.950</span></td>
              <td><span class="price">$ 26.850</span></td>
              <td><span class="price">$ 53.700</span></td>
              <td><span class="price">$ 107.400</span></td>
              <td><span class="price">-</span></td>
            </tr>

            <tr>
              <th>Costo menú por día</th>
              <td><span class="price">$ 16.110</span></td>
              <td><span class="price">$ 15.215</span></td>
              <td><span class="price">$ 14.320</span></td>
              <td><span class="price">$ 12.530</span></td>
              <td><span class="price">$ 17.900</span></td>
            </tr>



            <tr >
              <th class="sin-borde02"></th>
              <td class='text-center'><a class="lnk btn btn-primary" href="mi-cuenta-comprar.html"><i class="glyphicon glyphicon-shopping-cart"></i> COMPRAR</a></td>
              <td class='text-center'><a class="lnk btn btn-primary" href="mi-cuenta-comprar.html"><i class="glyphicon glyphicon-shopping-cart"></i> COMPRAR</a></td>
              <td class='text-center'><a class="lnk btn btn-primary" href="mi-cuenta-comprar.html"><i class="glyphicon glyphicon-shopping-cart"></i> COMPRAR</a></td>
              <td class='text-center'><a class="lnk btn btn-primary" href="mi-cuenta-comprar.html"><i class="glyphicon glyphicon-shopping-cart"></i> COMPRAR</a></td>
              <td class='text-center'><a class="lnk btn btn-primary" href="mi-cuenta-comprar.html"><i class="glyphicon glyphicon-shopping-cart"></i> COMPRAR</a></td>
            </tr>
          </table>
        </div>

      </div><!--TABLA-->



    </div>

    <h3 class="tit-inter"><span>Descripción Planes</span></h3>

    <div class="row salto01">
      <div class="product-tabs outer-top-smal  wow fadeInUp">

        <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
          <li class="active"><a data-toggle="tab" href="#despertar">PLAN DESPERTAR</a></li>
          <li><a data-toggle="tab" href="#conciencia">PLAN CONCIENCIA</a></li>
          <li><a data-toggle="tab" href="#equilibrio">PLAN EQUILIBRIO</a></li>
          <li><a data-toggle="tab" href="#vida">PLAN ESTILO DE VIDA</a></li>
          <li><a data-toggle="tab" href="#tiquetera">TIQUETERA</a></li>
        </ul><!-- /.nav-tabs #product-tabs -->

        <div class="tab-content outer-top-xs">

          <div id="despertar" class="tab-pane in active"><div class="product-tab">
            <div class="row">
              <div class="col-md-2"><img src="assets/images/iconos/13.png"></div>
              <div class="col-md-10">
                <h2 style="color:#F36A20">PLAN DESPERTAR</h2>
                <h5>Vivimos en un mundo donde muchos seres humanos viven “dormidos, como manejando un avión en piloto automático. Con este plan daremos inicio a un proceso de conocimiento a la importancia de crear hábitos de alimentación saludables, el cual esta dirigido a los amantes del buen comer, que le gusta cuidarse, que no cuentan con tiempo de cocinar en su día a día o se encuentran con movilidad reducida.</h5>
                <h5>No lo dudes mas! Despierta a este nuevo estilo de vida, te veras mejor y te mantendrás mas enérgico y saludable. </h5>
              </div></div>
          </div></div><!-- /.tab-pane -->

          <div id="conciencia" class="tab-pane"><div class="product-tab">
            <div class="row">
              <div class="col-md-2"><img src="assets/images/iconos/14.png"></div>
              <div class="col-md-10">
                <h2 style="color:#F36A20">PLAN CONCIENCIA</h2>
                <h5>Todos soñamos con tener un cuerpo perfecto,  una mente brillante… porque no dejar des soñar?  A través de este plan queremos comenzar contigo un camino de concientización donde aprenderás a conocer un poco mas a tu cuerpo, como mejorarlo a través de una buena alimentación; dejando atrás la planeación de que comer cada día, ir continuamente al supermercado, cocinar los platos, recoger y limpiar la cocina.  Te ofrecemos la posibilidad de vivir una nueva experiencia que te ayudara a crear nuevos hábitos para mejorar tu salud y tu mente.</h5>
                <h5>Todo lo que hemos vivido es el resultado de lo que hemos estado pensando, así que es hora de crear Conciencia!</h5>
              </div></div>
          </div></div><!-- /.tab-pane -->

          <div id="equilibrio" class="tab-pane"><div class="product-tab">
            <div class="row">
              <div class="col-md-2"><img src="assets/images/iconos/15.png"></div>
              <div class="col-md-10">
                <h2 style="color:#F36A20">PLAN EQUILIBRIO <small>Mente sana en cuerpo sano</small></h2>
                <h5>La salud es un estado de equilibrio y bienestar que nos permite vivir de la mejor manera posible.  Para que una alimentación sea sana, debemos cuidar que sea completa al incluir a todos los grupos de alimentos. Para crear buenos hábitos es importante saber qué, cómo, cuándo y cuánto comer.</h5>
                <h5>
                  Una alimentación saludable no solo se trata de qué se come sino cómo se come. Con este plan queremos recordarte que somos responsables de nuestra alimentación, luego de crear conciencia debemos  enfocarnos en las comidas que consumimos, como las consumimos y si realmente llevamos un buen control nutricional.</h5>
                <h5>Una alimentación sana, es una alimentación en equilibrio.</h5>
              </div></div>
          </div></div><!-- /.tab-pane -->

          <div id="vida" class="tab-pane"><div class="product-tab">
            <div class="row">
              <div class="col-md-2"><img src="assets/images/iconos/16.png"></div>
              <div class="col-md-10">
                <h2 style="color:#F36A20">PLAN ESTILO DE VIDA <small>Una manzana al día</small></h2>
                <h5>La salud se construye a lo largo de la vida, y sólo se alcanza a través del cuidado de nuestro cuerpo.  Nuestra recomendación es que a través de nuestros planes realices cambios a tu estilo de vida gradualmente, ya que es mucho más fácil que hacerlos de  forma inmediata.</h5>
                <h5>Te invitamos a comenzar con este nuevo estilo de vida!... Recuerda,  no existen alimentos buenos o malos, sino malos hábitos alimenticios.</h5>
              </div></div>
          </div></div><!-- /.tab-pane -->

          <div id="tiquetera" class="tab-pane"><div class="product-tab">
            <div class="row">
              <div class="col-md-2"><img src="assets/images/iconos/17.png"></div>
              <div class="col-md-10">
                <h2 style="color:#F36A20">TIQUETERA</h2>
                <h5>Este plan incluye (20) platos que podran ser unsados en un maximo de 6 semanas</h5>
              </div></div>
          </div></div><!-- /.tab-pane -->

        </div><!-- /.tab-content -->

      </div><!-- /.product-tabs -->

    </div><!--texto planes-->

    <h3><a class="btn btn-primary pad-extra" type="button">¿Quieres que contactemos a tu empresa para que disfrute de LA MANZANA NARANJA?</a></h3>

</div>




</section><!-- /.section -->

</div><!-- /.container -->