<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Promesa de Servicio</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-4">
        <h3>La Manzana Naranja</h3>
        <h5>Es una empresa que ofrece un estilo de vida a <b>hombres y mujeres profesionales</b> que se encuentran activos laboralmente, que buscan mejorar y cuidar su salud a través de una <b>alimentación saludable</b>.</h5>

        <h5><b>La Manzana Naranja</b> ofrecerá servicio en la zona sur de Medellín, Envigado, Sabaneta, Itagüí, entre otras; donde logísticamente se pueda atender mas de 3 usuarios por empresa.
          <br><br>
          De igual manera se revisara puntualmente si se podrá ofrecer nuestro producto a empresas fuera de esta zona de acuerdo al numero de clientes que estén interesados en los planes.
        </h5></div>

      <div class="col-sm-7 pull-right"><div class="blog-page box-quehacemos">
        <div class="row">

          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/10.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4>Tiempo de entrega</h4>
                <p>El programa se contrata por semanas completas de lunes a viernes,  a través de nuestra pagina web o nuestro call center.  Los pedidos de tus platos se deben realizar con mínimo 24 horas de anticipación, esta política nos permitirá cumplir nuestra promesa de calidad de entregarte alimentos frescos y saludables.</p></div>
            </div></div></div>


          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/11.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4>Cambios y cancelaciones</h4>
                <p>Deberás realizar cualquier <b>cambio o cancelación con mínimo 24 horas de anticipación</b>, a través de nuestra pagina web, nuestro call center  xxx o por nuestro whatsapp xxx.. Para cambios de lugar de entrega del domicilio puedes avisarnos con 24 horas de anticipación, es importante que verifiques si cubrimos la zona.</p>
              </div>
            </div></div></div>

          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/12.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4>Horario de entrega</h4>
                <p>Cada empresa afiliada definirá sus entregas en uno de los siguientes horarios disponibles:
                  De Lunes a Viernes<br>
                  <b>11:30 am - 12:30 pm</b><br>
                  <b>12:30 pm - 13:30 pm</b><br>
                  <b>13:30 pm - 14:30 pm</b>
                </p>
              </div>
            </div></div></div>

        </div>	</div>
      </div>

      <div class="col-sm-12"><div class="blog-page box-quehacemos">
        <div class="row">

          <div class="col-md-5"><div class="blog-post-author-details wow fadeInUp">
            <div class="row">
              <h4>SERVICIO DE CATERING</h4>
              <p>Nuestro servicio de Catering no se limita solo a suministrar alimentos preparados, sino que vamos un paso más allá, en la Manzana Naranja tenemos en cuenta la formación de las personas en sus hábitos alimenticios y la importancia de su salud y bienestar;  creando experiencias culinarias exquisitas para tu empresa.</p>
            </div></div></div>

          <div class="col-md-5 pull-right"><div class="blog-post-author-details wow fadeInUp">
            <div class="row">
              <h4>NUESTRO EMPAQUE</h4>
              <p>La Manzana Naranja es una empresa amigable con el medio ambiente, es por esto que nuestros empaques son productos 100% Biodegradables, fabricados a partir de fibras recicladas de pulpa y papel  con producción local.</p>
              <a class="btn btn-primary" type="button" href="http://www.proplanet.com.co" target="_black" >www.proplanet.com.co</a>
            </div></div></div>

        </div></div>

      </div>


  </section><!-- /.section -->

</div><!-- /.container -->