<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>¿Que Hacemos?</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-4"><h3>Somos una empresa enfocada en <b>mejorar la salud</b> de las personas y a la divulgación de una <b>alimentación saludable, ecológica y responsable.</b></h3></div>

      <div class="col-sm-4"><img class="img-responsive" src="assets/images/ic-qehacemos.png" alt=""></div>

      <div class="col-sm-4"><h3>Queremos ayudarte a crear un <b>estilo de vida</b> que te contribuya a un cambio de hábitos de alimentación para siempre estar lleno de <b>salud y felicidad.</b></h3></div>

    </div>

    <h3 class="tit-inter"><span>Te Ofrecemos</span></h3>

    <div class="blog-page box-quehacemos">

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/01.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Un nuevo concepto de alimentación Sana</h4>
              <p>En un mundo lleno de comida chatarra en donde los fritos, carbohidratos en exceso y comida con
                preservantes son comunes en nuestro diario vivir, entendemos que gran parte de lo <b>que somos es lo que
                comemos</b>; por eso te ofrecemos planes de comida que sin duda mejorarán tu calidad de vida.
              </p></div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/02.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Continuidad y <br>Sostenibilidad</h4>
              <p>Los cambios se logran mas que por intensidades puntuales, por frecuencia en hábitos. Por ejemplo es
                mucho mas recomendable <b>hacer ejercicio 3 veces a la semana por 40 minutos</b>, que hacer un solo día 120
                minutos. Por ello hemos creado planes de alimentación para que los beneficios  sean visibles a corto plazo.
              </p></div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/03.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Asesoramiento y<br> seguimiento</h4>
              <p>Cada uno de nosotros tiene necesidades alimenticias diferentes, depende de variables como genero,
                contextura, actividad física entre otros; es por esto que tenemos un <b>plan diseñado para cada necesidad</b>,
                con acompañamiento de especialistas que faciliten el logro de tus objetivos.</p></div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/04.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Nuestra <br> Oferta</h4>
              <p>Nuestra oferta de planes y metodología de trabajo nos permite ofrecerte una excelente relación costo beneficio.</p>
              <p><a class="btn btn-primary" type="button" style="padding:14px 10px !important;">VISITE NUESTRO SIMULADOR DE AHORRO</a></p>
            </div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/05.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>La calidad es <br>nuestra premisa</h4>
              <p>Nuestro equipo de trabajo se concentra cada día para ofrecerte la mejor calidad en nuestros platos,
                seleccionando ingredientes frescos.  No añadimos ningún tipo de químico o conservante, <b>Bnuestros
                productos son comprados con 24 horas de anticipación</b> para la elaboración de cada uno de los platos.</p></div>
          </div></div></div>



        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/06.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>Un sistema <br>flexible </h4>
              <p>Te ofrecemos la oportunidad de personalizar tu menú en función de tus gustos, con diferentes medios de pago
                como transferencia, tarjetas de crédito o simplemente te enviaremos el datafono.  Nuestro sistema te ofrece la
                la <b>posibilidad de hacer cambios o cancelación de tu menú con 24 horas de anticipación.</b></p></div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/07.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>En la variedad <br>esta el placer</h4>
              <p>Planes no significa monotonía ni obligatoriedad. Con La Manzana Naranja tu tienes la posibilidad de elegir dentro de nuestras diferentes
                alternativas, siempre tendremos variedad para que puedas elegir tu mejor opción.  <b>No repetimos
                ninguna receta en un mismo mes.</b></p></div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/08.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4>…y por supuesto <br>comida Deliciosa</h4>
              <p>Otro mito común es que la comida saludable no es rica. Nuestra meta es demostrarte todo lo contrario te
                Ofrecemos comida rica, saludable y a un precio justo.  Hemos trabajado en la cocina en equipo con nuestros
                nutricionistas, para crear platos originales, sofisticados e innovadores que además de ser saludables,<br><h4>¡te encanten!</h4></p></div>
          </div></div></div>

      </div>

    </div>

  </section><!-- /.section -->

</div><!-- /.container -->