<div class="container" id="f"><div class="row single-product">

  <h3 class="tit-inter"><span>Simulador de Ahorro</span></h3>

  <div class="product-tabs inner-bottom-xs  wow fadeInUp">
    <div class="row">
      <div class="col-sm-3">
        <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
          <li id="step1"  class="active"><a data-toggle="tab" href="#set1">PASO 01</a></li>
          <li id="step2" class="disable"><a data-toggle="tab" href="#set2">PASO 02</a></li>
          <li id="step3" class="disable"><a data-toggle="tab" href="#set3">PASO 03</a></li>
          <li id="step4" class="disable"><a data-toggle="tab" href="#set4">PASO 04</a></li>
          <li id="step5" class="disable"><a data-toggle="tab" href="#set5">PASO 05</a></li>
        </ul><!-- /.nav-tabs #product-tabs -->
      </div>

      <div class="col-sm-9">

        <div class="tab-content">

          <div id="set1" class="tab-pane in active">
            <h3 class="otro-h3">¿Cuanto tiempo te toma ir al supermercado en el mes?</h3>
            <div class="product-tab">

              <div class="row tiempomes">

                <div class="col-sm-3 set-ahorro">
                  <a href="" data-next="2" data-respuesta="60">
                    <span>60</span><p>minutos</p>
                  </a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-next="2" data-respuesta="90">
                  <span>90</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-next="2" data-respuesta="120">
                  <span>120</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-next="2" data-respuesta="150">
                  <span>150</span><p>minutos</p></a>
                </div>

              </div>

            </div>
          </div><!-- /.tab-pane -->

          <div id="set2" class="tab-pane">
            <h3 class="otro-h3">¿Cuanto pagas por los ingredientes que compras para preparar cada plato? (menu-almuerzo de un día)</h3>
            <div class="product-tab">
              <div class="row pagacompras">

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="5000">
                  <span>$5.000</span><p>pesos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="7000">
                  <span>$7.000</span><p>pesos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="8000">
                  <span>$8.000</span><p>pesos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="10000">
                  <span>$10.000</span><p>pesos</p></a>
                </div>

              </div>

            </div>
          </div><!-- /.tab-pane -->

          <div id="set3" class="tab-pane">
            <h3 class="otro-h3">¿Cuanto tiempo te toma la preparación de cada plato? (almuerzo)</h3>
            <div class="product-tab">
              <div class="row minutoplato">

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="20">
                  <span>20</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="30">
                  <span>30</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="40">
                  <span>40</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="60">
                  <span>60</span><p>minutos</p></a>
                </div>

              </div>

            </div>
          </div><!-- /.tab-pane -->

          <div id="set4" class="tab-pane">
            <h3 class="otro-h3">¿Cuanto tiempo tardas en arreglar la cocina después de la preparación de cada plato?</h3>
            <div class="product-tab">
              <div class="row arreglarcocina">

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="20">
                  <span>20</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="30">
                  <span>30</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="40">
                  <span>40</span><p>minutos</p></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="60">
                  <span>60</span><p>minutos</p></a>
                </div>

              </div>

            </div>
          </div><!-- /.tab-pane -->

          <div id="set5" class="tab-pane">
            <h3 class="otro-h3">¿Cuanto es tu salario mensual?</h3>
            <div class="product-tab">
              <div class="row rango">

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="2500000">
                  <p>entre</p><span class="mtex">$1.500.000 <br> $3.500.000</span></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="4500000">
                  <p>entre</p><span class="mtex">$3.501.000 <br> $5.500.000</span></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="7000000">
                  <p>entre</p><span class="mtex">$5.501.000 <br> $8.500.000</span></a>
                </div>

                <div class="col-sm-3 set-ahorro"><a href="" data-respuesta="10250000">
                  <p>entre</p><span class="mtex">$8.501.000 <br> $12.000.000</span></a>
                </div>

              </div>

            </div>
          </div><!-- /.tab-pane -->


        </div><!-- /.tab-content -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.product-tabs -->

</div>



</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->



<div class="container" id="r" style="display:none"><div class="row single-product">

  <h3 class="tit-inter"><span>Simulador de Ahorro</span></h3>

  <div class="row salto01">

    <div class="col-sm-5 box-gris">
      <h2 class="page-title text-center">¿Cuánto dinero voy a ahorrar?</h2>
      <h4>¡Aquí tienes el resultado de tu simulador!<br></h4>
    </div>

    <div class="col-sm-1 arrow-ahorro"></div>

    <div class="col-sm-5 pull-right box-verde">
      <span><img src="assets/images/ahorro.png"></span>
      <h1 class="page-title text-center">¡Ahorra más de <br><strong id="ahorro"></strong>  cada mes!</h1>
    </div>

  </div>

  <div class="row salto01">

    <div class="col-sm-5 box-gris22">
      <span><h2 class="page-title text-center">SIN La Manzana Naranja</h2></span>
      <p>(mensual)</p>

      <div class="table-responsive">
        <table class="table-ahorro">
          <tbody>
          <tr>
            <td class="pull-right">COSTO IR AL SUPER: <b  id="respuesta1"></b></td>
          </tr>
          <tr>
            <td class="pull-right">COSTO COCINAR PLATOS: <b id="respuesta2"></b></td>
          </tr>
          <tr>
            <td class="pull-right">COSTO LIMPIAR LA COCINA: <b id="respuesta3"></b></td>
          </tr>
          <tr>
            <td class="pull-right">COSTO COMPRA INGREDIENTES: <b id="respuesta4"></b></td>
          </tr>
          <tr class="line-gris-top">
            <td class="pull-right"><strong>TOTAL MES:</strong> <b id="total"></b></td>
          </tr>
          <tr><td class="pull-right"><a  href="simulador-ahorro.html" class="btn btn-primary" type="button">Repetir Simulador</a></td></tr>
          </tbody>
        </table>
      </div>

    </div>

    <!--<div class="col-sm-1 arrow-ahorro"></div>-->

    <div class="col-sm-5 pull-right box-verde22">
      <h2 class="page-title text-center">CON La Manzana Naranja</h2>
      <p>(mensual)</p>
      <div class="table-responsive">
        <table class="table-ahorro22">
          <tbody>
          <tr><td></td></tr>
          <tr>
            <td class="pull-right">COMPRA UN PLAN MEMSUAL: <b>$252.000</b></td>
          </tr>
          <tr>
            <td class="pull-right"><p>Con la compra de tu plan mensual ganas  <strong id="ahorrominutos"></strong> minutos de tiempo al mes ¿Te animas?</p></td>
          </tr>
          <tr><td></td></tr>
          <tr><td></td></tr>

          <tr class="line-blanco-top">
            <td class="pull-right"><strong>TOTAL MES:</strong> <b style="color:#444;font-size:40px;">$252.000</b></td>
          </tr>
          <tr><td class="pull-right"><button class="btn btn-primary" type="button">COMPRAR PLAN MENSUAL</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


</div>



</div>


<% content_for :head do %>

<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
<% end %>


<% content_for :footer do %>






<script src="http://openexchangerates.github.io/accounting.js/accounting.min.js"></script>

<script>
    var tiempomes, pagacompras, minutoplato, arreglarcocina, rango;
    $(function(){


        $('#product-tabs li a').click(function(){
            s = $(this).parent().attr('class');
            if(s == 'disable'){
                return false;
            }
        })


        $('.tiempomes a').click(function(){
            tiempomes = $(this).data('respuesta');
            $('.tiempomes a').removeClass('activea')
            $(this).addClass('activea');

            $("#step2").removeClass('disable');
            $("#step2 a").trigger("click");
            return false;
        });



        $('.pagacompras a').click(function(){
            pagacompras = $(this).data('respuesta');
            $('.pagacompras a').removeClass('activea')
            $(this).addClass('activea');

            $("#step3").removeClass('disable');
            $("#step3 a").trigger("click");
            return false;
        });



        $('.minutoplato a').click(function(){
            minutoplato = $(this).data('respuesta');
            $('.minutoplato a').removeClass('activea')
            $(this).addClass('activea');

            $("#step4").removeClass('disable');
            $("#step4 a").trigger("click");
            return false;
        });


        $('.arreglarcocina a').click(function(){
            arreglarcocina = $(this).data('respuesta');
            $('.arreglarcocina a').removeClass('activea')
            $(this).addClass('activea');

            $("#step5").removeClass('disable');
            $("#step5 a").trigger("click");
            return false;
        });



        $('.rango a').click(function(){
            rango = $(this).data('respuesta');
            $('.rango a').removeClass('activea')
            $(this).addClass('activea');

            $("#step5 a").trigger("click");

            $('#r').show()
            $('#f').hide()


            calcular()
            return false;
        });


        function calcular(){

            valorminuto  =rango/(48*4.28*60)

            respuesta1 = tiempomes*valorminuto

            respuesta2 = valorminuto*minutoplato*20

            respuesta3 = valorminuto*arreglarcocina*20

            respuesta4 = pagacompras*20;


            console.log(accounting.formatMoney(4999, "$", 0, ".", ","));


            $('#respuesta1').html(accounting.formatMoney(respuesta1, "$", 0, ".", ","))
            $('#respuesta2').html(accounting.formatMoney(respuesta2, "$", 0, ".", ","))
            $('#respuesta3').html(accounting.formatMoney(respuesta3, "$", 0, ".", ","))
            $('#respuesta4').html(accounting.formatMoney(respuesta4, "$", 0, ".", ","))


            total = respuesta1 + respuesta2 + respuesta3 + respuesta4;
            $('#total').html(accounting.formatMoney(total, "$", 0, ".", ","))


            ahorro = total - 252000

            $('#ahorro').html(accounting.formatMoney(ahorro, "$", 0, ".", ","))

            ahorrominutos = tiempomes + minutoplato + arreglarcocina

            $('#ahorrominutos').html(ahorrominutos)








        }







    })
</script>



<% end %>
